<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="src/css/styles.css">
    <!-- cdn Link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="src/js/landing.js" defer></script>
</head>

<body>
    <div id="app-landing">
        <header>
            <div class="nav" id="nav">
                <img src="/src/images/netflix-logo.png" alt="" class="nav__logo" />
                <img src="/src/images/netflix-avatar.png" alt="" class="nav__avatar" />
            </div>
        </header>

        <div class="home">
            <div class="feature-card">
                <!-- header -->
                <div class="banner">
                    <div class="banner__contents">
                        <h1 class="banner__title">Cruella</h1>
                        <div class="banner__buttons">

                            <button class="banner__button">Play</button>
                            <a href="src/pages/MovieDetail.html">
                                <button class="banner__button">
                                    My List
                                </button>
                            </a>

                        </div>
                        <th style="direction: ltr; padding-top:2em;text-align: center; padding-right:0"
                            class="col-lg-4 col-md-6">
                            <h3 class="banner__description">
                                To carry out the biggest heist in history, a mysterious man called
                                The Professor recruits a band of eight robbers who have a single
                                characteristic: n...
                            </h3>
                    </div>
                    <div class="banner__fadeBottom"></div>
                </div>
            </div>

            <div>
                <form id="register-driver-form" class="search-box">
                    <input v-model="searchInput.searchText" type="text" placeholder="What are you looking for?"
                        required>
                    <input type="button" value="Search" v-on:click="theSearch" />
                </form>
            </div>

            <div v-show="!searched" class="movies-list">
                <span></span>
            </div>

            <!-- form to create drivers -->
            <div v-show="searched" class="movies-list">
                <div v-for="wMovie in filteredMoviesTitle" class="movie row__poster">
                    <div class="product-image">
                        <img :src="wMovie.Poster" alt="Movie Poster">
                        <div class="type">{{ wMovie.Genre }}</div>
                    </div>
                    <div class="detail">
                        <p class="year">{{wMovie.ReleaseDate}}</p>
                        <h3>{{ wMovie.Title }}</h3>
                        <button v-on:click="addToWatchList">Add</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Netflix Originals -->
        <div class="row">
            <h2>COMING SOON</h2>
            <div class="movies-list row__posters">
                <div v-for="wMovie in filteredMoviesCommingSoon" class="movie row__poster row__posterLarge">
                    <div class="product-image">
                        <img :src="wMovie.Poster" alt="Movie Poster">
                        <div class="type">{{ wMovie.Genre }}</div>
                    </div>
                    <div class="detail">
                        <p class="year">{{wMovie.ReleaseDate}}</p>
                        <h3>{{ wMovie.Title }}</h3>
                        <button v-on:click="addToWatchList">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sci-fi -->
        <div class="row">
            <h2>Sci-fi</h2>
            <div class="movies-list row__posters">
                <div v-for="wMovie in filteredMoviesScifi" class="movie row__poster">
                    <div class="product-image">
                        <img :src="wMovie.Poster" alt="Movie Poster">
                    </div>
                    <div class="detail">
                        <p class="year">{{wMovie.ReleaseDate}}</p>
                        <h3>{{ wMovie.Title }}</h3>
                        <button v-on:click="addToWatchList">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Adventure -->
        <div class="row">
            <h2>Adventure</h2>
            <div class="movies-list row__posters">
                <div v-for="wMovie in filteredMoviesAdventure" class="movie row__poster">
                    <div class="product-image">
                        <img :src="wMovie.Poster" alt="Movie Poster">
                    </div>
                    <div class="detail">
                        <p class="year">{{wMovie.ReleaseDate}}</p>
                        <h3>{{ wMovie.Title }}</h3>
                        <button v-on:click="addToWatchList">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Crime -->
        <div class="row">
            <h2>Crime</h2>
            <div class="movies-list row__posters">
                <div v-for="wMovie in filteredMoviesCrime" class="movie row__poster">
                    <div class="product-image">
                        <img :src="wMovie.Poster" alt="Movie Poster">
                    </div>
                    <div class="detail">
                        <p class="year">{{wMovie.ReleaseDate}}</p>
                        <h3>{{ wMovie.Title }}</h3>
                        <button v-on:click="addToWatchList">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Drama -->
        <div class="row">
            <h2>Drama</h2>
            <div class="movies-list row__posters">
                <div v-for="wMovie in filteredMoviesDrama" class="movie row__poster">
                    <div class="product-image">
                        <img :src="wMovie.Poster" alt="Movie Poster">
                    </div>
                    <div class="detail">
                        <p class="year">{{wMovie.ReleaseDate}}</p>
                        <h3>{{ wMovie.Title }}</h3>
                        <button v-on:click="addToWatchList">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fantasy -->
        <div class="row">
            <h2>Fantasy</h2>
            <div class="movies-list row__posters">
                <div v-for="wMovie in filteredMoviesFantasy" class="movie row__poster">
                    <div class="product-image">
                        <img :src="wMovie.Poster" alt="Movie Poster">
                    </div>
                    <div class="detail">
                        <p class="year">{{wMovie.ReleaseDate}}</p>
                        <h3>{{ wMovie.Title }}</h3>
                        <button v-on:click="addToWatchList">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Family -->
        <div class="row">
            <h2>Family</h2>
            <div class="movies-list row__posters">
                <div v-for="wMovie in filteredMoviesFamily" class="movie row__poster">
                    <div class="product-image">
                        <img :src="wMovie.Poster" alt="Movie Poster">
                    </div>
                    <div class="detail">
                        <p class="year">{{wMovie.ReleaseDate}}</p>
                        <h3>{{ wMovie.Title }}</h3>
                        <button v-on:click="addToWatchList">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comedy -->
        <div class="row">
            <h2>Comedy</h2>
            <div class="movies-list row__posters">
                <div v-for="wMovie in filteredMoviesComedy" class="movie row__poster">
                    <div class="product-image">
                        <img :src="wMovie.Poster" alt="Movie Poster">
                    </div>
                    <div class="detail">
                        <p class="year">{{wMovie.ReleaseDate}}</p>
                        <h3>{{ wMovie.Title }}</h3>
                        <button v-on:click="addToWatchList">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const nav = document.getElementById("nav");

        window.addEventListener(`scroll`, () => {
            if (window.scrollY >= 100) {
                nav.classList.add("nav__black");
            } else {
                nav.classList.remove("nav__black");
            }
        });
    </script>
    <!--<script type="module" src="js/main.js"></script>
    <script type="module" src="js/experiment.js"></script>-->
    <script type="application/javascript" src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>-->
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
    <!-- - Which tag?? This last one is form Justin's link-->

</body>

</html>

<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->