<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="src/css/styles.css">
    <!-- cdn Link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="src/js/landing.js" defer></script>
    <style>
        .giveColour {
            color: red;
        }

        .blueColour {
            color: blue;
        }

        .is-loading {
            background: red;
        }

        body {
            padding-top: 20px;
            padding-left: 20px;
        }

        h1 {
            font-size: 40px;
        }
    </style>
</head>

<body>
    <div id="app-landing">
        <header>
            <div class="nav" id="nav">
                <img src="/src/images/netflix-logo.png" alt="" class="nav__logo" />
                <a href="src/pages/MovieDetail.html">
                    <button class="nav__watchList">
                        Watchlist
                    </button>
                    <img src="/src/images/netflix-avatar.png" alt="" class="nav__avatar" />
                </a>
            </div>
        </header>

        <div class="home">
            <div class="feature-card">
                <!-- header -->
                <div class="banner">
                    <div class="banner__contents">
                        <h3 class="banner__title">Money Heist</h3>
                        <div class="banner__buttons">
                            <router-link to="/movie/tt049591">
                                <button class="banner__button">Play</button>
                            </router-link>
                            <button class="banner__button">My List</button>
                        </div>
                        <th style="direction: ltr; padding-top:2em;text-align: center; padding-right:0"
                            class="col-lg-4 col-md-6">
                            <p class="banner__description">
                                To carry out the biggest heist in history, a mysterious man called
                                The Professor recruits a band of eight robbers who have a single
                                characteristic: n...
                            </p>
                    </div>
                    <div class="banner__fadeBottom"></div>
                </div>
            </div>

            <div>
                <form @submit.prevent="SearchMovies()" class="search-box">
                    <input type="text" placeholder="What are you looking for?" v-model="search" />
                    <input type="submit" value="Search" @click="onChange($event)" />
                </form>
            </div>


            <!-- greeting popup -->
            <div v-show="!greeted">
                <h2>
                    Greetings Prospective Racers!
                </h2>

                <p>
                    {{greetingMessage}}
                    <br>
                    <br>
                    {{helpMessage}}
                </p>

            </div>

            <!-- form to create drivers -->
            <div v-show="greeted">
                <h2>Input Movie Details to Create New Movie</h2>
                <form action="src/pages/standings.html" id="register-driver-form" class="display">
                    <input v-model="movie.Title" type="text" placeholder="movie title" required>
                    <input v-model="movie.Description" type="text" placeholder="movie desc" required>
                    <input v-model="movie.CommingSoon" type="text" placeholder="nationality" required>
                    <select v-model="movie.Reminder">
                        <option value="" disabled selected>Select your League</option>
                        <option value="Carting">Carting</option>
                        <option value="N400">N400</option>
                        <option value="GT3">GT3</option>
                    </select>
                    <input v-model="movie.ReleaseDate" type="text" placeholder="car colour" required>
                    <input v-model="movie.Genre" type="number" placeholder="driver number" required>
                    <input v-model="movie.Actors" type="number" placeholder="driver number" required>
                    <button v-on:click="createNewDriver">
                        Create Movie
                    </button>
                </form>

            </div>

            <br>
            <hr>
            <br>


            <button v-on:click="greet">
                Register Driver
            </button>

        </div>


        <!-- Netflix Originals -->
        <div class="row">
            <h2>COMING SOON</h2>
            <div class="row__posters">
                <img src="/src/images/large-movie1.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie2.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie3.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie4.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie5.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie6.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie7.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie8.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie1.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie2.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie3.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie4.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie5.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie6.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie7.jpg" alt="" class="row__poster row__posterLarge" />
                <img src="/src/images/large-movie8.jpg" alt="" class="row__poster row__posterLarge" />
            </div>
        </div>

        <!-- Trending Now -->
        <div class="row">
            <h2>Trending Now</h2>
            <div class="row__posters">
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
            </div>
        </div>

        <!-- Top Rated -->
        <div class="row">
            <h2>Top Rated</h2>
            <div class="row__posters">
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
            </div>
        </div>

        <!-- Action Movies -->
        <div class="row">
            <h2>Action Movies</h2>
            <div class="row__posters">
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
            </div>
        </div>

        <!-- Comedy Movies -->
        <div class="row">
            <h2>Comedy Movies</h2>
            <div class="row__posters">
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
            </div>
        </div>

        <!-- Horror Movies -->
        <div class="row">
            <h2>Horror Movies</h2>
            <div class="row__posters">
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
            </div>
        </div>

        <!-- Romance Movies -->
        <div class="row">
            <h2>Romance Movies</h2>
            <div class="row__posters">
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
            </div>
        </div>

        <!-- Documentaries -->
        <div class="row">
            <h2>Documentaries</h2>
            <div class="row__posters">
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie1.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie2.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie3.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie4.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie5.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie6.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie7.jpg" alt="" class="row__poster" />
                <img src="/src/images/small-movie8.jpg" alt="" class="row__poster" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const nav = document.getElementById("nav");

        window.addEventListener(`scroll`, () => {
            if (window.scrollY >= 100) {
                nav.classList.add("nav__black");
            } else {
                nav.classList.remove("nav__black");
            }
        });
    </script>
    <!--<script type="module" src="js/main.js"></script>
    <script type="module" src="js/experiment.js"></script>-->
    <script type="application/javascript" src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>-->
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
    <!-- - Which tag?? This last one is form Justin's link-->

</body>

</html>

<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->